<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audit.mapper.AttachmentMapper">
    <select id="findByBatchId" resultType="map">SELECT attach_id, file_name, file_size, file_type, attach_type, attach_type_name, upload_time, upload_by FROM audit_attachment WHERE batch_id=#{batchId} ORDER BY upload_time DESC</select>
    <select id="findByAttachId" resultType="map">SELECT * FROM audit_attachment WHERE attach_id=#{attachId}</select>
    <insert id="insert">INSERT INTO audit_attachment (attach_id, batch_id, file_name, file_size, file_type, attach_type, attach_type_name, upload_time, upload_by, file_path) VALUES (#{attachId},#{batchId},#{fileName},#{fileSize},#{fileType},#{attachType},#{attachTypeName},NOW(),#{uploadBy},#{filePath})</insert>
    <delete id="delete">DELETE FROM audit_attachment WHERE attach_id=#{attachId} AND batch_id=#{batchId}</delete>
</mapper>
